---
import Divider from '../base/Divider.astro';
---

<section class='gap-19'>
    <div id="headProfile" class="-m-4 flex flex-col justify-end">
        <div
            id="bannerContainer"
            class="aspect-3/1 flex justify-center items-center overflow-hidden border-b"
        >
            <img
                id="banner"
                src="/placeholder.svg"
                alt="banner rahmadip"
                loading="eager"
                fetchpriority="high"
                crossorigin="anonymous"
                width="900" 
                height="300"
                class="min-w-full min-h-full"
            >
        </div>
        <div
            id="avatarContainer"
            class="aspect-square size-26 flex justify-center items-center overflow-hidden mx-4 rounded-full border translate-y-1/2 absolute bg-background"
        >
            <img
                id="avatar"
                src="/placeholder.svg"
                alt="avatar rahmadip"
                loading="eager"
                fetchpriority="high"
                crossorigin="anonymous"
                width="120" 
                height="120"
                class="min-w-full min-h-full"
            >
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <div>
            <h2 id="name">Fauzi Rahmadi Primanto</h2>
            <p id="occu">Graphic Designer</p>
        </div>
        <Divider />
        <p id="abou"></p>
        <div id="cont" class="flex gap-2 md:gap-4"></div>
    </div>
</section>

<script>
    import { get, find, filter } from "@/lib/fetch";

    const dataProfile = await get('rahmadip');
    if (dataProfile) {
        const banner:any = document.getElementById('banner');
        const dataBanner = find(dataProfile, 'section', 'banner').value;
        if (banner && dataBanner) {
            banner.src = `${dataBanner}?tr=w-600`;
            banner.srcset = `
                ${dataBanner}?tr=w-300 300w,
                ${dataBanner}?tr=w-600 600w,
                ${dataBanner}?tr=w-900 900w
            `;
        }

        const avatar:any = document.getElementById('avatar');
        const dataAvatar = find(dataProfile, 'section', 'avatar').value;
        if (avatar && dataAvatar) {
            avatar.src = `${dataAvatar}?tr=w-120`;
        }

        const name:any = document.getElementById('name');
        name.innerHTML = find(dataProfile,'section','name').value;

        const occu:any = document.getElementById('occu');
        occu.innerHTML = find(dataProfile,'section','occupation').value;

        const abou:any = document.getElementById('abou');
        abou.innerHTML = find(dataProfile,'section','about').value;

        const cont:any = document.getElementById('cont');
        const contacts = filter(dataProfile,'type','contact');
        contacts.forEach((contact:any) => {
            const a = document.createElement('a');
            a.href = contact.value;
            a.target = '_blank';
            a.rel = 'noopener noreferrer';
            a.ariaLabel = contact.section;

            const svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
            svg.classList.value = 'size-9 fill-foreground border rounded-lg shadow hover:bg-secondary hover:fill-secondary-foreground';
            svg.setAttribute('viewBox', contact.viewbox);
            svg.setAttribute('role', 'img');

            const path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
            path.setAttribute('d', contact.path);
            
            svg.appendChild(path);
            a.appendChild(svg);
            cont.appendChild(a);
        });
    }
</script>